$main-color: #cc3366;
$main-dark-color: #990033;
$seconadry-color: #333333;
$tertiary-color: #ffffcc;
$light-color: #f4f4f4;
$dark-color: #222222;
$main-color-transparent: rgba(204, 51, 102, 0.2);
$font-main: 'Jaapokki', sans-serif;
$font-secondary: 'Lato', sans-serif;
